## The Battle of the Neighborhoods - Week 2

#### Part 2

### Scraping Population data of NYC 
WEBLINK : https://en.wikipedia.org/wiki/New_York_City

In [1]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation
import json

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import matplotlib.ticker as ticker

# notice: installing seaborn might takes a few minutes
!conda install -c anaconda seaborn -y
import seaborn as sns

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

!conda install -c anaconda beautifulsoup4 --yes # package for parsing HTML and XML documents
from bs4 import BeautifulSoup as bs
import csv
print('Folium installed')
print('Libraries imported.')

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    geopy-1.22.0               |     pyh9f0ad1d_0          63 KB  conda-forge
    ------------------------------------------------------------
                                           Total:          97 KB

The following NEW packages will be INSTALLED:

  geographiclib      conda-forge/noarch::geographiclib-1.50-py_0
  geopy              conda-forge/noarch::geopy-1.22.0-pyh9f0ad1d_0



Downloading and Extracting Packages
geopy-1.22.0         | 63 KB     | ##################################### | 100%
geographiclib-1.50   | 34 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - seaborn


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    blas-1.0                   |         openblas          48 KB  anaconda
    ca-certificates-2020.1.1   |                0         132 KB  anaconda
    certifi-2020.4.5.2         |           py36_0         160 KB  anaconda
    dbus-1.13.14               |       hb2f20db_0         590 KB  anaconda
    gst-plugins-base-1.14.0    |       hbbd80ab_1         4.8 MB
    gstreamer-1.14.0           |       hb453b48_1         3.1 MB
    matplotlib-3.2.1           |                0          20 KB  anaconda
    matplotlib-base-3.2.1      |   py36hef1b27d_0         7.1 MB  anaconda
    openssl-1.1.1g             |       h7b6447c_0         3.8 MB  anaconda
    pandas-1.0.4               |   py36h0573a6f_0        11.1 MB  anaconda
    pyqt-5.9.2                 |   py36h22d08a2_1         5.6 MB  anaconda
    pytz-2020.1                |             py_0         239 KB  anaconda
    qt-5.9.7                   |       h5867ecd_1        68.5 MB
    scipy-1.4.1                |   py36habc2bb6_0        18.8 MB  anaconda
    seaborn-0.10.1             |             py_0         160 KB  anaconda
    sip-4.19.22                |   py36he6710b0_0         298 KB  anaconda
    ------------------------------------------------------------
                                           Total:       124.5 MB

The following NEW packages will be INSTALLED:

  blas               anaconda/linux-64::blas-1.0-openblas
  dbus               anaconda/linux-64::dbus-1.13.14-hb2f20db_0
  gst-plugins-base   pkgs/main/linux-64::gst-plugins-base-1.14.0-hbbd80ab_1
  gstreamer          pkgs/main/linux-64::gstreamer-1.14.0-hb453b48_1
  matplotlib         anaconda/linux-64::matplotlib-3.2.1-0
  pandas             anaconda/linux-64::pandas-1.0.4-py36h0573a6f_0
  pyqt               anaconda/linux-64::pyqt-5.9.2-py36h22d08a2_1
  pytz               anaconda/noarch::pytz-2020.1-py_0
  qt                 pkgs/main/linux-64::qt-5.9.7-h5867ecd_1
  scipy              anaconda/linux-64::scipy-1.4.1-py36habc2bb6_0
  seaborn            anaconda/noarch::seaborn-0.10.1-py_0
  sip                anaconda/linux-64::sip-4.19.22-py36he6710b0_0

The following packages will be UPDATED:

  matplotlib-base    conda-forge::matplotlib-base-3.1.1-py~ --> anaconda::matplotlib-base-3.2.1-py36hef1b27d_0

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates    conda-forge::ca-certificates-2020.4.5~ --> anaconda::ca-certificates-2020.1.1-0
  certifi            conda-forge::certifi-2020.4.5.2-py36h~ --> anaconda::certifi-2020.4.5.2-py36_0
  openssl            conda-forge::openssl-1.1.1g-h516909a_0 --> anaconda::openssl-1.1.1g-h7b6447c_0



Downloading and Extracting Packages
dbus-1.13.14         | 590 KB    | ##################################### | 100%
pyqt-5.9.2           | 5.6 MB    | ##################################### | 100%
seaborn-0.10.1       | 160 KB    | ##################################### | 100%
pytz-2020.1          | 239 KB    | ##################################### | 100%
pandas-1.0.4         | 11.1 MB   | ##################################### | 100%
certifi-2020.4.5.2   | 160 KB    | ##################################### | 100%
blas-1.0             | 48 KB     | ##################################### | 100%
matplotlib-base-3.2. | 7.1 MB    | ##################################### | 100%
openssl-1.1.1g       | 3.8 MB    | ##################################### | 100%
gst-plugins-base-1.1 | 4.8 MB    | ##################################### | 100%
matplotlib-3.2.1     | 20 KB     | ##################################### | 100%
ca-certificates-2020 | 132 KB    | ##################################### | 100%
scipy-1.4.1          | 18.8 MB   | ##################################### | 100%
gstreamer-1.14.0     | 3.1 MB    | ##################################### | 100%
sip-4.19.22          | 298 KB    | ##################################### | 100%
qt-5.9.7             | 68.5 MB   | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    altair-4.1.0               |             py_1         614 KB  conda-forge
    branca-0.4.1               |             py_0          26 KB  conda-forge
    brotlipy-0.7.0             |py36h8c4c3a4_1000         346 KB  conda-forge
    chardet-3.0.4              |py36h9f0ad1d_1006         188 KB  conda-forge
    cryptography-2.9.2         |   py36h45558ae_0         613 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    pysocks-1.7.1              |   py36h9f0ad1d_1          27 KB  conda-forge
    requests-2.24.0            |     pyh9f0ad1d_0          47 KB  conda-forge
    toolz-0.10.0               |             py_0          46 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         1.9 MB

The following NEW packages will be INSTALLED:

  altair             conda-forge/noarch::altair-4.1.0-py_1
  attrs              conda-forge/noarch::attrs-19.3.0-py_0
  branca             conda-forge/noarch::branca-0.4.1-py_0
  brotlipy           conda-forge/linux-64::brotlipy-0.7.0-py36h8c4c3a4_1000
  chardet            conda-forge/linux-64::chardet-3.0.4-py36h9f0ad1d_1006
  cryptography       conda-forge/linux-64::cryptography-2.9.2-py36h45558ae_0
  entrypoints        conda-forge/linux-64::entrypoints-0.3-py36h9f0ad1d_1001
  folium             conda-forge/noarch::folium-0.5.0-py_0
  idna               conda-forge/noarch::idna-2.9-py_1
  importlib_metadata conda-forge/noarch::importlib_metadata-1.6.1-0
  jinja2             conda-forge/noarch::jinja2-2.11.2-pyh9f0ad1d_0
  jsonschema         conda-forge/linux-64::jsonschema-3.2.0-py36h9f0ad1d_1
  markupsafe         conda-forge/linux-64::markupsafe-1.1.1-py36h8c4c3a4_1
  pyopenssl          conda-forge/noarch::pyopenssl-19.1.0-py_1
  pyrsistent         conda-forge/linux-64::pyrsistent-0.16.0-py36h8c4c3a4_0
  pysocks            conda-forge/linux-64::pysocks-1.7.1-py36h9f0ad1d_1
  requests           conda-forge/noarch::requests-2.24.0-pyh9f0ad1d_0
  toolz              conda-forge/noarch::toolz-0.10.0-py_0
  urllib3            conda-forge/noarch::urllib3-1.25.9-py_0
  vincent            conda-forge/noarch::vincent-0.4.4-py_1

The following packages will be UPDATED:

  ca-certificates      anaconda::ca-certificates-2020.1.1-0 --> conda-forge::ca-certificates-2020.4.5.2-hecda079_0

The following packages will be SUPERSEDED by a higher-priority channel:

  certifi               anaconda::certifi-2020.4.5.2-py36_0 --> conda-forge::certifi-2020.4.5.2-py36h9f0ad1d_0
  openssl               anaconda::openssl-1.1.1g-h7b6447c_0 --> conda-forge::openssl-1.1.1g-h516909a_0



Downloading and Extracting Packages
pysocks-1.7.1        | 27 KB     | ##################################### | 100%
toolz-0.10.0         | 46 KB     | ##################################### | 100%
chardet-3.0.4        | 188 KB    | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
branca-0.4.1         | 26 KB     | ##################################### | 100%
cryptography-2.9.2   | 613 KB    | ##################################### | 100%
brotlipy-0.7.0       | 346 KB    | ##################################### | 100%
altair-4.1.0         | 614 KB    | ##################################### | 100%
requests-2.24.0      | 47 KB     | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - beautifulsoup4


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    beautifulsoup4-4.9.1       |           py36_0         168 KB  anaconda
    soupsieve-2.0.1            |             py_0          33 KB  anaconda
    ------------------------------------------------------------
                                           Total:         201 KB

The following NEW packages will be INSTALLED:

  beautifulsoup4     anaconda/linux-64::beautifulsoup4-4.9.1-py36_0
  soupsieve          anaconda/noarch::soupsieve-2.0.1-py_0

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates    conda-forge::ca-certificates-2020.4.5~ --> anaconda::ca-certificates-2020.1.1-0
  certifi            conda-forge::certifi-2020.4.5.2-py36h~ --> anaconda::certifi-2020.4.5.2-py36_0
  openssl            conda-forge::openssl-1.1.1g-h516909a_0 --> anaconda::openssl-1.1.1g-h7b6447c_0



Downloading and Extracting Packages
soupsieve-2.0.1      | 33 KB     | ##################################### | 100%
beautifulsoup4-4.9.1 | 168 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Folium installed
Libraries imported.

In [44]:
url = requests.get('https://en.wikipedia.org/wiki/Demographics_of_New_York_City').text
soup = bs(url,"html.parser")
table = soup.find('table',{'class':'wikitable sortable'})

headers = [header.text for header in table.find_all('th')]
table_rows = table.find_all('tr')        
rows = []
for row in table_rows:
   td = row.find_all('td')
   row = [row.text for row in td]
   rows.append(row)

with open('nyc_population.csv', 'w') as f:
   writer = csv.writer(f)
   writer.writerow(headers)
   writer.writerows(row for row in rows if row)

#### Loading Data from CSV file

In [45]:
population_data=pd.read_csv('nyc_population.csv')
population_data.drop(population_data.columns[[7,8,9,10,11]], axis=1,inplace=True)
print('Data downloaded!')

Data downloaded!

##### Fomatting data renaming columns and removing white spaces

In [46]:
population_data.columns = population_data.columns.str.replace(' ', '')
population_data.columns = population_data.columns.str.replace('\'','')
population_data.rename(columns={'Borough':'persons_sq_mi','County':'persons_sq_km'}, inplace=True)
population_data

,NewYorkCitysfiveboroughsvte\n,Jurisdiction\n,Population\n,GrossDomesticProduct\n,Landarea\n,Density\n,persons_sq_mi,squarekm,persons/sq.mi,persons/km2\n
0,The Bronx\n,\n Bronx\n,"1,418,207\n",42.695\n,"30,100\n",42.10\n,109.04\n,NaN,NaN,NaN
1,Brooklyn\n,\n Kings\n,"2,559,903\n",91.559\n,"35,800\n",70.82\n,183.42\n,NaN,NaN,NaN
2,Manhattan\n,\n New York\n,"1,628,706\n",600.244\n,"368,500\n",22.83\n,59.13\n,NaN,NaN,NaN
3,Queens\n,\n Queens\n,"2,253,858\n",93.310\n,"41,400\n",108.53\n,281.09\n,NaN,NaN,NaN
4,Staten Island\n,\n Richmond\n,"476,143\n",14.514\n,"30,500\n",58.37\n,151.18\n,NaN,NaN,NaN
5,City of New York,"8,336,817",842.343,"101,000",302.64,783.83,"27,547",NaN,NaN,NaN
6,State of New York,"19,453,561","1,731.910","89,000","47,214","122,284",412,NaN,NaN,NaN
7,Sources:[14] and see individual borough articl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
population_data.rename(columns = {'NewYorkCitysfiveboroughsvte\n' : 'Borough',
                   'Jurisdiction\n':'County',
                   'Population\n':'Estimate_2017', 
                   'Landarea\n':'square_miles',
                    'Density\n':'square_km'}, inplace=True)
population_data

,Borough,County,Estimate_2017,GrossDomesticProduct\n,square_miles,square_km,persons_sq_mi,squarekm,persons/sq.mi,persons/km2\n
0,The Bronx\n,\n Bronx\n,"1,418,207\n",42.695\n,"30,100\n",42.10\n,109.04\n,NaN,NaN,NaN
1,Brooklyn\n,\n Kings\n,"2,559,903\n",91.559\n,"35,800\n",70.82\n,183.42\n,NaN,NaN,NaN
2,Manhattan\n,\n New York\n,"1,628,706\n",600.244\n,"368,500\n",22.83\n,59.13\n,NaN,NaN,NaN
3,Queens\n,\n Queens\n,"2,253,858\n",93.310\n,"41,400\n",108.53\n,281.09\n,NaN,NaN,NaN
4,Staten Island\n,\n Richmond\n,"476,143\n",14.514\n,"30,500\n",58.37\n,151.18\n,NaN,NaN,NaN
5,City of New York,"8,336,817",842.343,"101,000",302.64,783.83,"27,547",NaN,NaN,NaN
6,State of New York,"19,453,561","1,731.910","89,000","47,214","122,284",412,NaN,NaN,NaN
7,Sources:[14] and see individual borough articl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###### Replace newline('\n') from each string from left and right side

In [48]:
population_data['Borough']=population_data['Borough'].replace(to_replace='\n', value='', regex=True)
population_data['County']=population_data['County'].replace(to_replace='\n', value='', regex=True)
population_data['Estimate_2017']=population_data['Estimate_2017'].replace(to_replace='\n', value='', regex=True)
population_data['square_miles']=population_data['square_miles'].replace(to_replace='\n', value='', regex=True)
population_data['square_km']=population_data['square_km'].replace(to_replace='\n', value='', regex=True)
population_data['persons_sq_mi']=population_data['persons_sq_mi'].replace(to_replace='\n', value='', regex=True)
population_data['squarekm']=population_data['squarekm'].replace(to_replace='\n', value='', regex=True)

population_data

,Borough,County,Estimate_2017,GrossDomesticProduct\n,square_miles,square_km,persons_sq_mi,squarekm,persons/sq.mi,persons/km2\n
0,The Bronx,Bronx,"1,418,207",42.695\n,"30,100",42.10,109.04,NaN,NaN,NaN
1,Brooklyn,Kings,"2,559,903",91.559\n,"35,800",70.82,183.42,NaN,NaN,NaN
2,Manhattan,New York,"1,628,706",600.244\n,"368,500",22.83,59.13,NaN,NaN,NaN
3,Queens,Queens,"2,253,858",93.310\n,"41,400",108.53,281.09,NaN,NaN,NaN
4,Staten Island,Richmond,"476,143",14.514\n,"30,500",58.37,151.18,NaN,NaN,NaN
5,City of New York,"8,336,817",842.343,"101,000",302.64,783.83,"27,547",NaN,NaN,NaN
6,State of New York,"19,453,561","1,731.910","89,000","47,214","122,284",412,NaN,NaN,NaN
7,Sources:[14] and see individual borough articles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Last 3 Rows are not Boroughs we we have to shift the data as part of data formatting

In [49]:
population_data.loc[5:,['persons_sq_mi','squarekm']] = population_data.loc[2:,['persons_sq_mi','squarekm']].shift(1,axis=1)
population_data.loc[5:,['square_km','persons_sq_mi']] = population_data.loc[2:,['square_km','persons_sq_mi']].shift(1,axis=1)
population_data.loc[5:,['square_miles','square_km']] = population_data.loc[2:,['square_miles','square_km']].shift(1,axis=1)
population_data.loc[5:,['Estimate_2017','square_miles']] = population_data.loc[2:,['Estimate_2017','square_miles']].shift(1,axis=1)
population_data.loc[5:,['County','Estimate_2017']] = population_data.loc[2:,['County','Estimate_2017']].shift(1,axis=1)
population_data.loc[5:,['Borough','County']] = population_data.loc[2:,['Borough','County']].shift(1,axis=1)
population_data

,Borough,County,Estimate_2017,GrossDomesticProduct\n,square_miles,square_km,persons_sq_mi,squarekm,persons/sq.mi,persons/km2\n
0,The Bronx,Bronx,"1,418,207",42.695\n,"30,100",42.10,109.04,NaN,NaN,NaN
1,Brooklyn,Kings,"2,559,903",91.559\n,"35,800",70.82,183.42,NaN,NaN,NaN
2,Manhattan,New York,"1,628,706",600.244\n,"368,500",22.83,59.13,NaN,NaN,NaN
3,Queens,Queens,"2,253,858",93.310\n,"41,400",108.53,281.09,NaN,NaN,NaN
4,Staten Island,Richmond,"476,143",14.514\n,"30,500",58.37,151.18,NaN,NaN,NaN
5,NaN,City of New York,"8,336,817","101,000",842.343,302.64,783.83,NaN,NaN,NaN
6,NaN,State of New York,"19,453,561","89,000","1,731.910","47,214","122,284",NaN,NaN,NaN
7,NaN,Sources:[14] and see individual borough articles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Last 2 rows are not required lets remove/drop them

In [50]:
i = population_data[((population_data.County == 'Sources: [2] and see individual borough articles'))].index
population_data.drop(i,inplace=True)
j=population_data[((population_data.County == 'Sources:[14] and see individual borough articles'))].index
population_data.drop(j,inplace=True)

In [51]:
population_data["Estimate_2017"]=population_data["Estimate_2017"].str.replace("," , "").astype(str)
population_data.drop(["squarekm","persons/sq.mi","persons/sq.mi","persons/km2\n"], axis = 1,inplace=True)

In [52]:
population_data['Borough']= population_data['Borough'].str.replace(' The Bronx', 'Bronx')
population_data['Borough']= population_data['Borough'].str.replace(' ', '')
population_data['Borough']= population_data['Borough'].str.replace(',', '')

## Scarping Demographics data from Wikipedia page

We will web scrap Demographics data from wikipedia page - https://en.wikipedia.org/wiki/New_York_City

In [70]:
url = 'https://en.wikipedia.org/wiki/New_York_City'
website_url = requests.get(url).text
soup =bs(website_url,'html.parser')
tables = soup.find_all('table')

for table in tables:
    if 'Racial composition' in table.text:
        headers = [header.text.strip() for header in table.find_all('th')]
        rows = []
        table_rows = table.find_all('tr')    
        for row in table_rows:
           td = row.find_all('td')
           row = [row.text for row in td]
           rows.append(row)

df = pd.DataFrame(rows, columns=headers)

In [71]:
df

                 Racial composition 2010[234] 1990[236]   1970[236] 1940[236]
0                              None      None      None        None      None
1                             White     44.0%     52.3%       76.6%   93.6%\n
2                     Non-Hispanic     33.3%     43.2%  62.9%[237]   92.0%\n
3         Black or African American     25.5%     28.7%       21.1%    6.1%\n
4  Hispanic or Latino (of any race)     28.6%     24.4%  16.2%[237]    1.6%\n
5                             Asian     12.7%      7.0%        1.2%       \n

#### Renaming Cloumns

In [72]:
df.rename(columns = {'2010[234]' : '2010',
                   '1990[236]':'1990',
                   '1970[236]':'1970', 
                   '1940[236]':'1940',
                    }, inplace=True)
df

                 Racial composition   2010   1990        1970     1940
0                              None   None   None        None     None
1                             White  44.0%  52.3%       76.6%  93.6%\n
2                     Non-Hispanic  33.3%  43.2%  62.9%[237]  92.0%\n
3         Black or African American  25.5%  28.7%       21.1%   6.1%\n
4  Hispanic or Latino (of any race)  28.6%  24.4%  16.2%[237]   1.6%\n
5                             Asian  12.7%   7.0%        1.2%      \n

In [73]:
## Formating data
df.columns = df.columns.str.replace(' ', '')

In [91]:
df= df.replace('\n',' ', regex=True)
df["Racialcomposition"]= df["Racialcomposition"].replace('Non-Hispanic','Non-Hispanic', regex=True)
#k = df[((df.'2010'== 'None'))].index
#df.drop(k,inplace=True)
df

                  Racialcomposition   2010   1990   1970    1940
0                              None   None   None   None    None
1                             White  44.0%  52.3%  76.6%  93.6%
2                     Non-Hispanic   33.3%  43.2%  62.9%  92.0%
3         Black or African American  25.5%  28.7%  21.1%   6.1%
4  Hispanic or Latino (of any race)  28.6%  24.4%  16.2%   1.6%
5                             Asian  12.7%   7.0%   1.2%

### Removing 237 from col 1970

In [92]:
df['1970'] = df['1970'].str.rstrip('[237]')
df

                  Racialcomposition   2010   1990   1970    1940
0                              None   None   None   None    None
1                             White  44.0%  52.3%  76.6%  93.6%
2                     Non-Hispanic   33.3%  43.2%  62.9%  92.0%
3         Black or African American  25.5%  28.7%  21.1%   6.1%
4  Hispanic or Latino (of any race)  28.6%  24.4%  16.2%   1.6%
5                             Asian  12.7%   7.0%   1.2%

In [93]:
df.to_csv('nyc-demographics.csv',index=False)